#menu-outer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.table {
    display: table;
    margin: 0 auto;
}

#horizontal-list {
    padding-top: 20px;
    list-style: none;
}

#horizontal-list li {
    display: inline;
    margin: 80px;
    font-size: 20px;
    font-weight: 300;
}